flows.json
[{"id":"87ef9887.fd5758","type":"tab","label":"ControlAC","disabled":false,"info":""},{"id":"84121846.e03998","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#00cc22","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#00cc22","edited":true},"page-titlebar-backgroundColor":{"value":"#00cc22","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1aff40","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#00cc22","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Termostato Inteligente","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"fbdedda7.3a59b","type":"ui_tab","z":"","name":"Quarto","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1e103952.5629e7","type":"ui_group","z":"","name":"Comandos","tab":"fbdedda7.3a59b","order":2,"disp":true,"width":"6","collapse":false},{"id":"2b62fae9.b773e6","type":"ui_group","z":"","name":"Sensores","tab":"fbdedda7.3a59b","order":3,"disp":true,"width":"6","collapse":false},{"id":"8a406b80.0ccbd8","type":"ui_group","z":"","name":"Ar condicionado","tab":"fbdedda7.3a59b","order":4,"disp":true,"width":"6","collapse":false},{"id":"ca07a481.2ff1b8","type":"mqtt-broker","z":"","name":"mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"647d1ab0.6176b4","type":"ui_group","z":"","name":"Demo","tab":"fbdedda7.3a59b","order":1,"disp":true,"width":"6","collapse":false},{"id":"4881b174.3af0b","type":"mqtt out","z":"87ef9887.fd5758","name":"","topic":"demo/led16","qos":"1","retain":"","broker":"ca07a481.2ff1b8","x":410,"y":80,"wires":[]},{"id":"8390b73e.89b128","type":"mqtt in","z":"87ef9887.fd5758","name":"","topic":"info/temp","qos":"2","datatype":"auto","broker":"ca07a481.2ff1b8","x":140,"y":400,"wires":[["700d13d9.645b3c"]]},{"id":"700d13d9.645b3c","type":"ui_gauge","z":"87ef9887.fd5758","name":"","group":"2b62fae9.b773e6","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura Ambiente","label":"C","format":"{{value}}","min":"-20","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":400,"wires":[]},{"id":"d9193b0d.0c02a8","type":"ui_switch","z":"87ef9887.fd5758","name":"","label":"Led 16","tooltip":"","group":"647d1ab0.6176b4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":80,"wires":[["4881b174.3af0b"]]},{"id":"788e804e.2efb8","type":"mqtt out","z":"87ef9887.fd5758","name":"","topic":"ac/temp","qos":"1","retain":"","broker":"ca07a481.2ff1b8","x":400,"y":320,"wires":[]},{"id":"ea0db511.767d18","type":"ui_switch","z":"87ef9887.fd5758","name":"","label":"Controle automático","tooltip":"","group":"1e103952.5629e7","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":240,"wires":[["c3837a55.77e9b8"]]},{"id":"c3837a55.77e9b8","type":"mqtt out","z":"87ef9887.fd5758","name":"","topic":"ac/auto","qos":"1","retain":"","broker":"ca07a481.2ff1b8","x":400,"y":240,"wires":[]},{"id":"2f52cb88.111e94","type":"ui_numeric","z":"87ef9887.fd5758","name":"","label":"Temperatura AC","tooltip":"","group":"1e103952.5629e7","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"16","max":"31","step":1,"x":160,"y":320,"wires":[["788e804e.2efb8"]]},{"id":"2e296ec2.e11062","type":"mqtt in","z":"87ef9887.fd5758","name":"","topic":"info/ac","qos":"2","datatype":"auto","broker":"ca07a481.2ff1b8","x":130,"y":480,"wires":[["d9e28fc2.0b7a"]]},{"id":"d9e28fc2.0b7a","type":"ui_template","z":"87ef9887.fd5758","group":"8a406b80.0ccbd8","name":"","order":0,"width":"6","height":"4","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":400,"y":480,"wires":[[]]},{"id":"1c7bf94a.0cd157","type":"ui_button","z":"87ef9887.fd5758","name":"","group":"647d1ab0.6176b4","order":1,"width":0,"height":0,"passthru":false,"label":"Ligar/Desligar TV","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":170,"y":160,"wires":[["feaa8115.ded55"]]},{"id":"feaa8115.ded55","type":"mqtt out","z":"87ef9887.fd5758","name":"","topic":"demo/tv","qos":"1","retain":"","broker":"ca07a481.2ff1b8","x":400,"y":160,"wires":[]}]